*{
    margin: 0;
    padding: 0;
}
body .container{
    background-image: linear-gradient(to bottom right, cornflowerblue, lightgrey);
}
.footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    background-color: transparent;
}
.trash { color:rgb(209, 91, 71); }
.panel-body { padding:0px; }
.panel .glyphicon { margin-right:5px; }
.list-group-item:hover, a.list-group-item:focus {text-decoration: none;background-color: rgb(245, 245, 245);}
.list-group { margin-bottom:0px; }
.img-thumbnail {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 100px;
}
.img-thumbnail:hover {
    box-shadow: 0 0 2px 1px  rgba(255,21,16, 0.5);
}