<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: aliceblue;" >
        <i class='fas fa-car' style='font-size:24px'></i>
        <span class="navbar-brand mb-01 h1" >Cars 'R Us</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home
                    </a></li>
                <li class="nav-item">
                    <a class="nav-link" href="/car_list">View Cars</a>
                    <a class="nav-link" href="/catg_list">View Categories</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Add Entry
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/add_car">Add a Car</a>
                        <a class="dropdown-item" href="/add_categ">Add a Category</a>
                    </div>
                </li>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div th:fragment="footer">&copy;2019 KC</div>
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
</body>
</html>