<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Car Form</title>
</head>
<body>
<h1>Add a Car</h1>
<div class="container">
    <form th:action="@{/process_car}" th:object="*{car}" method="post">
        <div class="form-group">
            <input type="hidden" th:field="*{id}" />
            <label>Make</label>
            <input type="text" class="form-control" id="*{make}" >
        </div>
        <div class="form-group">
            <label>Model</label>
            <input type="text" class="form-control" id="*{model}">
        </div>
        <div class="form-group">
            <label>Year</label>
            <input type="text" class="form-control" id="*{year}">
        </div>
        <div class="form-group">
            <label>MSRP</label>
            <input type="text" class="form-control" id="*{price}">
        </div>
        <div class="form-group">
            <label>Category</label>
            <select name="category" th:field="*{category}">
                <option th:each="category : ${categories}"
                        th:value="${category.catId}"
                        th:text="${category.name}"></option>
            </select>
        </div>
        <div class="form-group">
            <label>Upload Image</label>
            <input type="file" class="custom-file-input" id="*{image}">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>